/* Mixins */
/* Panel mixins */
/*Content*/
* {
  font-family: 'Open Sans', sans-serif; }

.title {
  text-align: center;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: bold;
  letter-spacing: 3px; }

hr {
  width: 30px; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

li {
  list-style-position: outside;
  list-style-type: none; }

/*Navbar*/
.page {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  left: 0;
  top: 0;
  background: #42275a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(-90deg, rgba(66, 39, 90, 0.7), #734b6d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-120deg, #42275a, rgba(159, 108, 151, 0.6));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
  /* Disable horizontal scroll */
  display: flex;
  align-items: center;
  justify-content: center; }
  .page li {
    margin-bottom: 30px; }
    .page li a {
      text-transform: uppercase;
      font-size: 2em;
      text-decoration: none;
      color: white;
      font-weight: bold; }
      .page li a:hover {
        color: #ffe787; }

#hamburger {
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 9999;
  width: 40px;
  height: 80px; }

.burgerBars {
  position: absolute;
  height: 5%;
  left: 0px;
  right: 0px;
  opacity: 1;
  background: white; }
  .burgerBars:nth-child(1) {
    top: 20%; }
  .burgerBars:nth-child(2) {
    top: 40%; }
  .burgerBars:nth-child(3) {
    top: 60%; }

#hamburger:hover > * {
  background: pink;
  cursor: pointer; }

/*Cover*/
.Cover-panel {
  position: relative;
  height: 800px;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.logo {
  height: 250px;
  width: 100%;
  background-image: url("http://i.imgur.com/MXt4aEt.png");
  background-size: 500px 264px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -100px; }

/*About*/
.About-panel {
  border: 2px solid black;
  margin: 20px;
  background-color: "none";
  padding: 100px 300px;
  text-align: center; }

/*Education*/
.Education-panel {
  display: flex;
  justify-content: space-around; }
  .Education-panel .Education {
    width: 40%; }
    .Education-panel .Education > div {
      margin: 15px 15px 30px 60px; }
      .Education-panel .Education > div h1 {
        text-align: left;
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 10px;
        text-transform: uppercase;
        font-family: 'Archivo Narrow', sans-serif;
        font-weight: bold;
        letter-spacing: 3px; }
      .Education-panel .Education > div div {
        border: 2px solid white; }
        .Education-panel .Education > div div:hover {
          border: 2px solid black;
          cursor: pointer; }
        .Education-panel .Education > div div p {
          font-family: 'Open Sans', sans-serif;
          font-weight: bolder;
          margin: 0;
          text-transform: uppercase;
          color: #1EAEDB; }
  .Education-panel .Education-info {
    overflow: hidden;
    background-image: url("https://static.pexels.com/photos/7100/iphone-desk-laptop-notebook.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 60%;
    padding: 30px; }
    .Education-panel .Education-info .Education-paddedbackground {
      background-color: white;
      height: 100%;
      border: 4px solid black; }
      .Education-panel .Education-info .Education-paddedbackground div {
        padding: 10px; }
        .Education-panel .Education-info .Education-paddedbackground div h3 {
          text-align: left;
          margin-bottom: 0;
          padding-top: 20px;
          padding-bottom: 10px;
          text-transform: uppercase;
          font-family: 'Archivo Narrow', sans-serif;
          font-weight: bold;
          letter-spacing: 3px; }
        .Education-panel .Education-info .Education-paddedbackground div h6 {
          font-weight: bolder;
          letter-spacing: 3px;
          text-transform: uppercase; }

/*Experience*/
.Experience-panel {
  display: flex;
  justify-content: space-around; }
  .Experience-panel > div:first-child {
    background-color: #EEEEEE;
    width: 60%;
    padding: 20px 60px;
    height: 100%; }
    .Experience-panel > div:first-child > div {
      background-color: white;
      border: 4px solid black;
      padding: 10px; }
      .Experience-panel > div:first-child > div h3 {
        text-align: left;
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 10px;
        text-transform: uppercase;
        font-family: 'Archivo Narrow', sans-serif;
        font-weight: bold;
        letter-spacing: 3px; }
      .Experience-panel > div:first-child > div h6 {
        font-weight: bolder;
        letter-spacing: 3px;
        text-transform: uppercase; }
      .Experience-panel > div:first-child > div > div {
        padding: 30px;
        display: flex; }
        .Experience-panel > div:first-child > div > div .quoted {
          border-radius: 100%;
          height: 150px;
          width: 150px;
          margin: 10px; }
        .Experience-panel > div:first-child > div > div .quote p {
          font-size: 0.9em;
          font-family: "Times New Roman", Times, serif;
          text-align: justify;
          text-justify: inter-word; }
          .Experience-panel > div:first-child > div > div .quote p:nth-child(2) {
            text-align: right; }
  .Experience-panel .Experience {
    width: 40%; }
    .Experience-panel .Experience > div {
      margin: 15px 15px 30px 45px; }
      .Experience-panel .Experience > div h1 {
        text-align: left;
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 10px;
        text-transform: uppercase;
        font-family: 'Archivo Narrow', sans-serif;
        font-weight: bold;
        letter-spacing: 3px; }
      .Experience-panel .Experience > div div {
        border: 2px solid white; }
        .Experience-panel .Experience > div div:hover {
          border: 2px solid black;
          cursor: pointer; }
        .Experience-panel .Experience > div div p {
          font-family: 'Open Sans', sans-serif;
          font-weight: bolder;
          margin: 0;
          text-transform: uppercase;
          color: #1EAEDB; }

/*Showcase*/
.Showcase-panel {
  border: 2px solid black;
  margin: 20px;
  background-color: white; }
  .Showcase-panel .projNav {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 37px;
    text-transform: uppercase;
    letter-spacing: 3px; }
    .Showcase-panel .projNav .borderbottom {
      border-bottom: 2px solid black; }
    .Showcase-panel .projNav div {
      border-bottom: 2px solid white;
      cursor: pointer; }
      .Showcase-panel .projNav div:hover {
        border-bottom: 2px solid black; }
  .Showcase-panel .showcase-content {
    padding: 30px 100px; }
    .Showcase-panel .showcase-content h3 {
      text-align: left;
      letter-spacing: 3px;
      margin-bottom: 20px; }
      .Showcase-panel .showcase-content h3 a {
        text-decoration: none; }

.parentflex {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .parentflex p {
    margin-right: 40px; }
  .parentflex .description div {
    margin-right: 40px;
    width: 50%; }
  .parentflex h6 {
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase; }

/*Contact Me*/
.Contact-bubble {
  border-radius: 100%;
  background-color: pink;
  height: 60px;
  width: 60px;
  z-index: 9999;
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.5); }
  .Contact-bubble i {
    color: white; }

.Contact-info {
  height: 200px;
  width: 200px;
  bottom: 105px;
  right: 40px;
  z-index: 9999;
  position: fixed;
  padding: 50px;
  background-color: white;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.3); }
  .Contact-info div h6 {
    letter-spacing: 3px;
    font-weight: 600; }
  .Contact-info div a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 13px; }
  .Contact-info div p {
    margin-bottom: 0;
    display: inline-block;
    margin-left: 10px;
    font-size: 13px; }

.contact-hr {
  margin: 10px 0px;
  width: 100%; }

.triangle {
  z-index: 9999;
  position: fixed;
  bottom: 85px;
  right: 40px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid white; }

/*# sourceMappingURL=App.css.map */
